In [2]:
import findspark
findspark.init("/opt/spark")

from pyspark.sql import SparkSession
import os

spark = SparkSession.builder.appName("IMDB EDA").getOrCreate()
PROJECT_ROOT = os.path.abspath("..")
DATA_PATH = os.path.join(PROJECT_ROOT, "data_validation", "data_for_batch", "fact_movie_full.parquet")
df = spark.read.parquet(DATA_PATH)
df.printSchema()

root
 |-- tconst: string (nullable = true)
 |-- titleType: string (nullable = true)
 |-- primaryTitle: string (nullable = true)
 |-- originalTitle: string (nullable = true)
 |-- startYear: string (nullable = true)
 |-- endYear: string (nullable = true)
 |-- runtimeMinutes: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- averageRating: string (nullable = true)
 |-- numVotes: string (nullable = true)
 |-- directors: string (nullable = true)
 |-- writers: string (nullable = true)
 |-- category: string (nullable = true)
 |-- primaryName: string (nullable = true)
 |-- primaryProfession: string (nullable = true)

In [4]:
df.show(5, truncate=False)
print(f"Số dòng: {df.count()}")
print(f"Số cột: {len(df.columns)}")

+----------+---------+-----------------------------+-----------------------------+---------+-------+--------------+-----------------+-------------+--------+---------+-------+--------+-----------+-----------------+
|tconst    |titleType|primaryTitle                 |originalTitle                |startYear|endYear|runtimeMinutes|genres           |averageRating|numVotes|directors|writers|category|primaryName|primaryProfession|
+----------+---------+-----------------------------+-----------------------------+---------+-------+--------------+-----------------+-------------+--------+---------+-------+--------+-----------+-----------------+
|tt0004347 |movie    |A Modern Mephisto            |A Modern Mephisto            |1914     |NULL   |NULL          |NULL             |NULL         |NULL    |NULL     |NULL   |NULL    |NULL       |NULL             |
|tt21654270|tvEpisode|Tabular Yikiliyor            |Tabular Yikiliyor            |2000     |NULL   |NULL          |Documentary      |NULL         |NULL    |NULL     |NULL   |NULL    |NULL       |NULL             |
|tt0009797 |short    |Whispering Wires of War      |Whispering Wires of War      |1918     |NULL   |NULL          |Documentary,Short|NULL         |NULL    |NULL     |NULL   |NULL    |NULL       |NULL             |
|tt2165443 |tvEpisode|Episode dated 14 January 2012|Episode dated 14 January 2012|2012     |NULL   |NULL          |Sport            |NULL         |NULL    |NULL     |NULL   |NULL    |NULL       |NULL             |
|tt0010542 |short    |Out of the Sea               |Out of the Sea               |1919     |NULL   |NULL          |Documentary,Short|NULL         |NULL    |NULL     |NULL   |NULL    |NULL       |NULL             |
+----------+---------+-----------------------------+-----------------------------+---------+-------+--------------+-----------------+-------------+--------+---------+-------+--------+-----------+-----------------+
only showing top 5 rows

Số dòng: 94624158
Số cột: 15

In [5]:
from pyspark.sql.functions import col, sum

df.select([
    sum(col(c).isNull().cast("int")).alias(c + "_nulls")
    for c in df.columns
]).show()

+------------+---------------+------------------+-------------------+---------------+-------------+--------------------+------------+-------------------+--------------+---------------+-------------+--------------+-----------------+-----------------------+
|tconst_nulls|titleType_nulls|primaryTitle_nulls|originalTitle_nulls|startYear_nulls|endYear_nulls|runtimeMinutes_nulls|genres_nulls|averageRating_nulls|numVotes_nulls|directors_nulls|writers_nulls|category_nulls|primaryName_nulls|primaryProfession_nulls|
+------------+---------------+------------------+-------------------+---------------+-------------+--------------------+------------+-------------------+--------------+---------------+-------------+--------------+-----------------+-----------------------+
|           0|              0|                 0|                  0|        9412409|     93556048|            55201738|     3040197|           72651414|      72651414|       21018615|     24967043|       1122586|          1130602|                4677839|
+------------+---------------+------------------+-------------------+---------------+-------------+--------------------+------------+-------------------+--------------+---------------+-------------+--------------+-----------------+-----------------------+

In [6]:
from pyspark.sql.functions import col

df.select("averageRating").describe().show()

df.select("averageRating").groupBy("averageRating").count().orderBy("averageRating").show(50)

+-------+------------------+
|summary|     averageRating|
+-------+------------------+
|  count|          21972744|
|   mean|  6.94980985533769|
| stddev|1.3456689590406963|
|    min|               1.0|
|    max|               9.9|
+-------+------------------+

+-------------+--------+
|averageRating|   count|
+-------------+--------+
|         NULL|72651414|
|          1.0|   13146|
|          1.1|    3047|
|          1.2|    3810|
|          1.3|    4020|
|          1.4|    4762|
|          1.5|    5764|
|          1.6|    5373|
|          1.7|    5755|
|          1.8|    7271|
|          1.9|    7211|
|         10.0|   51001|
|          2.0|   10146|
|          2.1|    9268|
|          2.2|   13030|
|          2.3|   15033|
|          2.4|   16251|
|          2.5|   16604|
|          2.6|   19294|
|          2.7|   20473|
|          2.8|   25635|
|          2.9|   21374|
|          3.0|   31005|
|          3.1|   28638|
|          3.2|   39682|
|          3.3|   36667|
|          3.4|   45127|
|          3.5|   44380|
|          3.6|   55812|
|          3.7|   53298|
|          3.8|   63387|
|          3.9|   55969|
|          4.0|   75849|
|          4.1|   70899|
|          4.2|   92919|
|          4.3|   88525|
|          4.4|  107117|
|          4.5|  104129|
|          4.6|  131656|
|          4.7|  126251|
|          4.8|  160933|
|          4.9|  138968|
|          5.0|  186834|
|          5.1|  171159|
|          5.2|  235219|
|          5.3|  218755|
|          5.4|  262579|
|          5.5|  255939|
|          5.6|  303336|
|          5.7|  295479|
+-------------+--------+
only showing top 50 rows

In [16]:
df.groupBy("genres").count().orderBy("count", ascending=False).show(20, truncate=False)

+--------------------------+--------+
|genres                    |count   |
+--------------------------+--------+
|Drama                     |14503726|
|Comedy                    |7183900 |
|Drama,Romance             |6476093 |
|Talk-Show                 |3348062 |
|NULL                      |3040197 |
|Documentary               |2956820 |
|Reality-TV                |2037376 |
|Drama,Short               |1999023 |
|News                      |1931230 |
|Comedy,Drama,Romance      |1480047 |
|Comedy,Drama              |1401221 |
|Short                     |1391904 |
|Comedy,Short              |1371696 |
|Adult                     |1297615 |
|News,Talk-Show            |1275554 |
|Family                    |1213917 |
|Action,Adventure,Animation|1200868 |
|Romance                   |1171013 |
|Game-Show                 |947581  |
|Crime,Drama,Mystery       |925595  |
+--------------------------+--------+
only showing top 20 rows

In [17]:
df.groupBy("startYear").count().orderBy("startYear").show(100)

+---------+-------+
|startYear|  count|
+---------+-------+
|     NULL|9412409|
|     1874|      4|
|     1878|     38|
|     1881|     26|
|     1882|      6|
|     1883|      3|
|     1885|      2|
|     1887|    132|
|     1888|     19|
|     1889|      3|
|     1890|     29|
|     1891|     60|
|     1892|     28|
|     1893|     24|
|     1894|    402|
|     1895|    357|
|     1896|   1752|
|     1897|   2066|
|     1898|   2531|
|     1899|   2578|
|     1900|   2678|
|     1901|   2386|
|     1902|   2458|
|     1903|   3318|
|     1904|   2326|
|     1905|   2436|
|     1906|   2931|
|     1907|   3686|
|     1908|   7209|
|     1909|  10885|
|     1910|  14255|
|     1911|  20328|
|     1912|  30599|
|     1913|  40273|
|     1914|  45060|
|     1915|  46901|
|     1916|  42889|
|     1917|  36677|
|     1918|  29641|
|     1919|  29864|
|     1920|  32297|
|     1921|  30448|
|     1922|  25760|
|     1923|  24145|
|     1924|  25131|
|     1925|  27981|
|     1926|  29390|
|     1927|  29673|
|     1928|  29307|
|     1929|  29608|
|     1930|  28625|
|     1931|  31597|
|     1932|  30392|
|     1933|  29856|
|     1934|  31832|
|     1935|  32488|
|     1936|  35109|
|     1937|  36796|
|     1938|  37253|
|     1939|  34724|
|     1940|  30744|
|     1941|  28477|
|     1942|  28357|
|     1943|  25572|
|     1944|  22599|
|     1945|  21285|
|     1946|  27401|
|     1947|  30558|
|     1948|  36884|
|     1949|  48266|
|     1950|  64570|
|     1951|  80755|
|     1952|  92751|
|     1953| 104115|
|     1954| 139864|
|     1955| 140525|
|     1956| 140629|
|     1957| 153703|
|     1958| 166744|
|     1959| 180434|
|     1960| 203263|
|     1961| 215060|
|     1962| 202104|
|     1963| 221834|
|     1964| 239405|
|     1965| 280119|
|     1966| 287842|
|     1967| 313788|
|     1968| 301665|
|     1969| 353944|
|     1970| 335224|
|     1971| 342057|
|     1972| 337133|
|     1973| 346477|
|     1974| 333665|
|     1975| 336436|
|     1976| 348451|
|     1977| 345364|
|     1978| 350652|
|     1979| 354787|
+---------+-------+
only showing top 100 rows

In [19]:
spark.stop()